---
// Styles
import "@/styles/global.css";

// Components
import Noise from "@/components/noise.astro";
import BackgroundLight from "@/components/BackgroundLight.astro";
import Cursor from "@/components/Cursor.astro";

// import Preloader from "@/components/preloader.astro";

// Astro Features
// import { ClientRouter } from "astro:transitions";

const {
  title = "Ibrahim Sadik Tamim - tam11a ✦ coder, designer, thinker",
  description = "Portfolio of Ibrahim Sadik Tamim, a versatile coder, designer, and thinker crafting digital experiences with passion and precision.",
  thumbnail = "/thumbnail.png",
  url = "https://tam11a.dev/",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Facebook Meta Tags -->

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={thumbnail} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="tam11a.dev" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={thumbnail} />
  </head>
  <body>
    <!-- <ClientRouter /> -->
    <!-- <Preloader /> -->
    <!-- Noisy Effects on Background -->
    <Noise />
    <BackgroundLight />
    <Cursor />
    <!-- Main Content: Smooth Scroll Area -->
    <main id="smooth-scroll-content" class="min-h-screen">
      <section class="max-w-5xl mx-auto px-6 py-10">
        <slot />
      </section>
    </main>
    <!-- Scripts -->
    <script src="@/configs/gsap.config.ts"></script>
    <script src="@/scripts/smooth-scroll.ts"></script>
    <script src="@/scripts/reveal-animation.ts"></script>
    <script src="@/scripts/section-title-sticky.ts"></script>
  </body>
</html>
